@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This Application allows you to enter a link or a text and create a QRCode which embeds the text you entered.</p>
<p>In the next update a option to add a picture will be implemented to allow the imbeding of images in QRCodes.</p>
